.mainContainer{
display:grid ;
grid-template-columns: repeat(3, 34.6%);
gap: 20px;
}
.post{
  flex-grow: 1;
 border: 1px solid #444;
 border-radius: 15px;
 transition: all .3s ease-in-out;
}

.post:hover{
  background-color: black;
  border: 1px solid #fff;
}

.imageContainer{
  position: relative;
  height: 280px;
}


.image{
object-fit: cover;
border-radius: 15px;
}

.title{
font-weight: 700;
}

.text{
  font-size: 18px;
  color: #999;
}

.contact{
  margin-left: 10px;
  padding-bottom: 30px;
}